@use 'sass/colors' as *;
@use 'sass/layout' as *;
@use 'sass/typography' as *;
@use 'sass/menu' as *;
@use 'sass/animation' as *;
@use 'sass/spacing' as *;
@use 'sass/footer' as *;
@use 'sass/buttons' as *;
@use 'sass/carousel' as *;
@use 'sass/responsive' as *;
@use 'sass/video' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: auto;
    max-width: 100%;
    overflow-x: clip;
}

body{
    width: 100%;
    max-width: 100%;
    overflow-x: clip;
    background-color: $white-normal;

    &::-webkit-scrollbar{
        padding-right: 4px;
        width: 20px;
        background: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 0px;
        background: $black-lighten;
        border: 6px solid $white-normal;
    }
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

[data-barba="container"] {
    padding-top: 96px;
    min-height: 70vh;
}

.border{
    border: 1px solid red;
}

.bg-red {
    background: red;
}

.border-radius{
  border-radius: 4px;
}

.hidden{
    overflow: hidden;
}

.relative{
    position: relative;
}

svg,img{
  width: 100%;
  //height: auto;
}

.border-l {
    border-left: 1px solid #000;
}

.white {
    color: $white-dark;
}