$black-normal: #000000;
$black-light: #1A1A1A;
$black-lighten: #333333;
$black-darken: #0A0A0A;
$black-dark: #000000;

$secondary-normal: #585858;

$white-normal: #FAFAFA;
$white-dark: #FFFFFF;
$white-light: #D9D9D9;

// Gray Scale
$gray-1: #585858;
$gray-2: #6B6B6B;
$gray-3: #7E7E7E;
$gray-4: #9C9C9C;
$gray-5: #B6B6B6;
$gray-6: #C9C9C9;
$gray-7: #D8D8D8;

// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #0BB07B;
$green-dark: #06A06F;
$green-light: #23C691;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;

// Animation text
$muted: #55565A;
$fg: #F0F0F0;
$bg: #0b0c0f;

.bg-tramice {
    background-color: #6F263D;
}

.bg-hcm {
    background-color: #A47864;
}

.bg-holanda {
    background-color: #333333;
}

.bg-arboreo {
    background-color: #636557;
}

.bg-mero {
    background-color: #D9D9D9;
}

.bg-botteca {
    background-color: #ECB11E;
}

.bg-savitar {
    background-color: #073227;
}

.bg-corais {
    background-color: #434106;
}