@use '../sass/colors' as *;
@use '../sass/responsive' as *;
@use '../sass/typography' as *;
@use '../sass/layout' as *;
@use '../sass/spacing' as *;

header {
  width: 100%;
  position: fixed;
  height: 72px;
  top: 8px;
  z-index: 998;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0px);
  border-top: 0px solid rgba(255, 255, 255, 0.3);
  border-bottom: 0px solid rgba(255, 255, 255, 0.3);
  transition: 1s;
}

.active-header {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


nav{
  max-width: $container-xl;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}